%h1 Cornell Free Food App
%p Welcome to the Cornell Free Food app! More will be coming soon.

= form_tag(action: "new_post") do
    =text_field_tag(:title)
    =text_field_tag(:text)
    =submit_tag("Submit!")
